// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

@mixin sans {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin desktop{
    @media screen and ( min-width: 900px ){@content;}
}

*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --gray: hsl(0, 0%, 63%);
    --gray-100: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}

html,body{
    @include sans();
}
p,a{
    font-size: 16px;
}
p{
    color: var(--gray);
    margin-block: 1rem;
    line-height: 1.5rem;
}
ul[class]{
    list-style:none;
}
a{
    text-decoration: none;
    color: var(--black);
    transition: all 0.3s;
    &:hover{
        color: var(--gray);
    }
    &.call-to-action{
        display:flex;
        gap: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 600;
        justify-content: center;
        width: fit-content;
        padding-block: 1rem;
        // margin-block-end: 2rem;
    }
}
img{
    display:block;
    width: 100%;
}
.wrapper{
    width:min(85%, 1400px);
    margin-inline:auto;
}
.hide-it{
    height: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
}

header{
    position:absolute;
    padding:3rem 1rem;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    .logo-container{
        width: fit-content;
        margin-inline:auto;
    }
    nav{
        position:absolute;
        left: 0;
        top: 0;
        padding: 3rem 2rem;
        display:flex;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        ul{
            display:flex;
            gap: 1rem;
            opacity: 0;
            pointer-events: none;
            transform:translateX(-20px);
            a{
                font-weight: 600;
            }
        }
        .burger-container{
            .close{
                display: none;
            }
        }
        &.open{
            background-color: var(--white);
            ul{
                opacity: 1;
                pointer-events: auto;
                transition: all 0.3s ease-in;
                transform:translateX(0px);
            }
            .burger-container{
                .close{
                    display: unset;
                }
                .open{
                    display:none;
                }
            }
        }
    }
    @include desktop{
        display:flex;
        align-items:center;
        justify-content: flex-start;
        padding: 0;
        gap: 3rem;
        max-width: 1400px;
        left: 50%;
        transform:translateX(-50%);
        nav, nav.open{
            position:relative;
            background-color: transparent;
            .burger-container{
                display: none;
            }
            ul{
                opacity: 1;
                a{
                    color:var(--white);
                    pointer-events: auto;
                    transition:all 0.5s;
                    position:relative;
                    padding-block: 1rem;
                    &::after{
                        content:"";
                        position:absolute;
                        bottom: 0;
                        width: 0;
                        height: 3px;
                        left: 50%;
                        transform:translateX(-50%);
                        background-color: var(--white);
                        transition: all 1s;
                    }
                    &:hover{
                        color: var(--white);
                        &::after{
                            width:50%;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}



section{
    h2{
        font-size: 2rem;
        padding-block-start: 3rem;
    }
    &#hero-section{
        //Optional 
        .timer-container{
            position:absolute;
            z-index: 100;
            top: 0;
            left: 0;
            transform-origin: left;
            height: 5px;
            width: 100%;
            background-color: var(--gray);
        }
        .media-and-ctrls-container{
            position: relative;
            picture{
                display: none;
                &.current{
                    display: block;
                    animation: showData 0.5s linear forwards;
                }
            }
            .controlls-container{
                position:absolute;
                bottom: 0;
                right: 0;
                z-index: 100;
                display: flex;
                li{
                    background-color: var(--black);
                    padding: 1rem 1.5rem;
                }
                img{
                    width: 70%;
                    pointer-events: none;
                }
            }
            
        }
        .wrapper{
            padding-block-end: 5rem;
        }
        .texts-container{
            
            overflow: hidden;
            .text-container{
                display: none;
                &.current{
                    display:block;
                    h2{
                        opacity: 0;
                        animation: showText 0.3s linear forwards;
                        animation-delay: 0.2s;
                    }
                    p{
                        opacity: 0;
                        animation: showText 0.3s linear forwards;
                        animation-delay: 0.3s;
                    }
                    a{
                        opacity: 0;
                        animation: showText 0.3s linear forwards;
                        animation-delay: 0.5s;
                    }
                }
            }
        }
        @include desktop{
            .sliders-container {
                display: grid;
                grid-template-columns: 0.6fr 0.4fr;
                position: relative;
                .media-and-ctrls-container{
                    align-self: stretch;
                    picture{
                        height: 100%;
                        width: auto;
                        object-fit: cover;
                    }
                }
                .texts-container {
                    align-self: center;
                    justify-self: start;
                    padding-block-end: unset;
                    &.wrapper{
                        width: 60%;
                        margin-inline: 5rem auto
                    }
                }
                .controlls-container{
                    right: auto;
                    left: 100%;
                    li{
                        width: 4rem;
                    }
                }
            }
        }
        /*
        @include desktop{
            .sliders-container{
                display:flex;
                justify-content: flex-start;
                gap: 2rem;
                .media-and-ctrls-container{
                    max-width: 60%;
                    align-self:stretch;
                    .media-container{
                        height: 100%;
                        picture{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .texts-container{
                    width: 40%;
                    align-self: center;
                }
                .controlls-container{
                    right: -100%;
                    left: 100%;
                    li{
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            background-color: var(--gray);
                        }
                    }
                }
            }
        }
        */
    }
    &#about-section{
        @include desktop{
           display:grid;
           grid-template-columns:1fr 1fr 1fr;
           align-content: center;
        }
    }
    
}
@keyframes showData {
    0%{
        opacity: 0;
        filter: blur(5px) grayscale(1);
    }
    100%{
        opacity: 1;
        filter:blur(0) grayscale(0);
    }
}
@keyframes showText {
    0%{
        opacity: 0;
        transform:translateY(10px);
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }
}
//Attribution
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-block:1rem;
    ul{
        display:flex;
        list-style:none;
        justify-content: center;
        gap: 1rem;
        li {
            a {
                color: inherit;
                i{
                    font-size: 1.2rem;
                    color:inherit;
                    margin-block: 1rem;
                }
            }
        }
    }
}
