*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --gray: hsl(0, 0%, 63%);
  --gray-100: hsl(0, 0%, 27%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}

html, body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p, a {
  font-size: 16px;
}

p {
  color: var(--gray);
  margin-block: 1rem;
  line-height: 1.5rem;
}

ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: var(--gray);
}
a.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-block: 1rem;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: min(85%, 1400px);
  margin-inline: auto;
}

.hide-it {
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
}

header {
  position: absolute;
  padding: 3rem 1rem;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
header .logo-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
header nav {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
header nav ul a {
  font-weight: 600;
}
header nav .burger-container .close {
  display: none;
}
header nav.open {
  background-color: var(--white);
}
header nav.open ul {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
header nav.open .burger-container .close {
  display: unset;
}
header nav.open .burger-container .open {
  display: none;
}
@media screen and (min-width: 900px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    gap: 3rem;
    max-width: 1400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header nav, header nav.open {
    position: relative;
    background-color: transparent;
  }
  header nav .burger-container, header nav.open .burger-container {
    display: none;
  }
  header nav ul, header nav.open ul {
    opacity: 1;
  }
  header nav ul a, header nav.open ul a {
    color: var(--white);
    pointer-events: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    padding-block: 1rem;
  }
  header nav ul a::after, header nav.open ul a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--white);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  header nav ul a:hover, header nav.open ul a:hover {
    color: var(--white);
  }
  header nav ul a:hover::after, header nav.open ul a:hover::after {
    width: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

section h2 {
  font-size: 2rem;
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
}
section#hero-section {
  /*
  @include desktop{
      .sliders-container{
          display:flex;
          justify-content: flex-start;
          gap: 2rem;
          .media-and-ctrls-container{
              max-width: 60%;
              align-self:stretch;
              .media-container{
                  height: 100%;
                  picture{
                      height: 100%;
                      width: 100%;
                      object-fit: cover;
                  }
              }
          }
          .texts-container{
              width: 40%;
              align-self: center;
          }
          .controlls-container{
              right: -100%;
              left: 100%;
              li{
                  cursor: pointer;
                  transition: all 0.3s;
                  &:hover{
                      background-color: var(--gray);
                  }
              }
          }
      }
  }
  */
}
section#hero-section .timer-container {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  height: 5px;
  width: 100%;
  background-color: var(--gray);
}
section#hero-section .media-and-ctrls-container {
  position: relative;
}
section#hero-section .media-and-ctrls-container picture {
  display: none;
}
section#hero-section .media-and-ctrls-container picture.current {
  display: block;
  -webkit-animation: showData 0.5s linear forwards;
          animation: showData 0.5s linear forwards;
}
section#hero-section .media-and-ctrls-container .controlls-container {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section#hero-section .media-and-ctrls-container .controlls-container li {
  background-color: var(--black);
  padding: 1rem 1.5rem;
}
section#hero-section .media-and-ctrls-container .controlls-container img {
  width: 70%;
  pointer-events: none;
}
section#hero-section .wrapper {
  -webkit-padding-after: 5rem;
          padding-block-end: 5rem;
}
section#hero-section .texts-container {
  overflow: hidden;
}
section#hero-section .texts-container .text-container {
  display: none;
}
section#hero-section .texts-container .text-container.current {
  display: block;
}
section#hero-section .texts-container .text-container.current h2 {
  opacity: 0;
  -webkit-animation: showText 0.3s linear forwards;
          animation: showText 0.3s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
section#hero-section .texts-container .text-container.current p {
  opacity: 0;
  -webkit-animation: showText 0.3s linear forwards;
          animation: showText 0.3s linear forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
section#hero-section .texts-container .text-container.current a {
  opacity: 0;
  -webkit-animation: showText 0.3s linear forwards;
          animation: showText 0.3s linear forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media screen and (min-width: 900px) {
  section#hero-section .sliders-container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    position: relative;
  }
  section#hero-section .sliders-container .media-and-ctrls-container {
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }
  section#hero-section .sliders-container .media-and-ctrls-container picture {
    height: 100%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section#hero-section .sliders-container .texts-container {
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: start;
    -webkit-padding-after: unset;
            padding-block-end: unset;
  }
  section#hero-section .sliders-container .texts-container.wrapper {
    width: 60%;
    margin-inline: 5rem auto;
  }
  section#hero-section .sliders-container .controlls-container {
    right: auto;
    left: 100%;
  }
  section#hero-section .sliders-container .controlls-container li {
    width: 4rem;
  }
}
@media screen and (min-width: 900px) {
  section#about-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@-webkit-keyframes showData {
  0% {
    opacity: 0;
    -webkit-filter: blur(5px) grayscale(1);
            filter: blur(5px) grayscale(1);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0) grayscale(0);
            filter: blur(0) grayscale(0);
  }
}

@keyframes showData {
  0% {
    opacity: 0;
    -webkit-filter: blur(5px) grayscale(1);
            filter: blur(5px) grayscale(1);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0) grayscale(0);
            filter: blur(0) grayscale(0);
  }
}
@-webkit-keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes showText {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-block: 1rem;
}
.attribution ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.attribution ul li a {
  color: inherit;
}
.attribution ul li a i {
  font-size: 1.2rem;
  color: inherit;
  margin-block: 1rem;
}/*# sourceMappingURL=App.css.map */